apiVersion: k6.io/v1alpha1
kind: TestRun
metadata:
  name: k6-test-simple
  namespace: k6-operator
spec:
  parallelism: 1
  script:
    configMap:
      name: k6-test-simple-script
      file: test.js
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: k6-test-simple-script
  namespace: k6-operator
data:
  test.js: |
    import http from 'k6/http';
    import { sleep, check } from 'k6';

    export const options = {
      vus: 10,
      duration: '30s',
      thresholds: {
        http_req_duration: ['p(95)<500'],
      },
    };

    export default function () {
      const res = http.get('https://test.k6.io');
      check(res, {
        'status is 200': (r) => r.status === 200,
        'response time < 500ms': (r) => r.timings.duration < 500,
      });
      sleep(1);
    }
