[Unit]
Description=kubectl port-forward for Grafana
After=network.target

[Service]
Type=simple
User=opc
Environment="KUBECONFIG=/home/opc/.kube/config"
Environment="PATH=/home/opc/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/kubectl port-forward -n monitoring svc/grafana 3000:80 --address=127.0.0.1
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
